@{
    ViewBag.Title = "Draken";
}

@section LeftContent
{
    <img src="@Url.Content("~/Content/images/p9161082-250x600.jpg")" alt="Draken at QAB" />
}

<h2>@ViewBag.Title</h2>
<p>I recently found Draken in a little boatyard in Cornwall on the Lynher river. She's my first boat and in the noble idiot tradition, I bought her because I like the way she looks.</p>
<p>I knew nothing of Magnifik Midgets (or boats in general) and I did not have her surveyed. I did give the boat a careful visual inspection from bow to stern, inside and out.</p>

<h4>Repairs</h4>
<p>Draken has an inboard engine well at the rear of the cockpit. It's basically a rectangular hole that goes straight down through the hull of the cockpit into the sea. There was a little rot and a small crack in the walls of this well where water was threatening to get through. Robin of <a href="http://boatingworldsw.co.uk/">Boating World</a>, has some experience of these things and he suggested digging out the rotten wood. I accomplished this with a dull chisel and then replaced it with some 9mm marine plywood from Totem in Plymouth. Afterwards, I coated my repair with Polyester resin with some fine wood powder mixed in. This was my first foray into fibre glass work. At the time of writing, the boat has been in the water for two weeks and so far has not taken any water on board.</p>
<p>There's a little more rot on a galley shelf but I haven't yet worked out where the water that caused this is coming from. On my first sail, I discovered that the cast aluminum mounting hardware that sits between the boom and the gooseneck mast fitting is damaged beyond repair. As far as I can tell, these were the only defects on the boat when I bought it.</p>
<p><a href="http://www.allspars.co.uk/">AllSpars</a> of QAB in Plymouth sold me some beautiful second hand Dyneema to replace the rotten main halyard and they also recommended a stainless steel welder named Robbie operating out of a container at Yacht Haven Quay. Robbie knew what to do to fix my boom fittings but I've left it for another day because a friend of his (also named Robbie) gave me an old boom whose fittings are intact. This brings the number of Robs improving the state of Draken, to four.</p>
