@{
    ViewBag.Title = "The Magnifik Midget";
}

@section LeftContent
{
    <img src="@Url.Content("~/Content/images/mm-drawing-250x466.png")" alt="Magnifik Midget drawings" />
}

@section RightContent
{
    <h3>Coming soon</h3>
    <ul>
        <li>@Html.ActionLink("History", "Index")</li>
        <li>Boats in the wild</li>
        <li>Draken</li>
        <li>Adventures</li>
        <li>Refits</li>
    </ul>
}

<h2>@ViewBag.Title</h2>
<h4>Here is some history I learned from <a href="http://magnifik.sjuntorp.com/">Jonas Pettersson</a></h4>
<p>The first 8.5 meter Magnifik was built of wood in 1965 by designer Bruno Boström for coastal cruising and racing. It is said to have won many races.</p>
<p>In 1966, production began in the UK on the "Midget" 7 meter plastic or GRP hulls adapted from the original. Some sources indicate that UK moulds were produced by Tyler.</p>
<p>Crescent Monarch of Varberg, Sweden and a builder in Holsterbrobruk, Denmark manufactured the same hull in Scandinavia. From 1972 to 1977, Runnbåtar (Dalarna, Sweden) & Johnsson (Partille, Sweden) continued production until economic considerations moved manufacturing to Styrsö, Sweden.</p>
<p>Boats could be purchased in varying states of completion from bare hull to fully fitted but the majority were completed by inividuals who constructed the interior furnishings after purchase. This accounted for the varying quality of construction seen in boats surviving today. Many originals included an inboard, 6hp, Färe Göta motor. It is thought that a total of 640 Magnifik Migets were constructed between 1966 and 1981 when production appears to have ceased.</p>